// Styling for the download section
section.download {
    position: relative;
    padding: 0!important;
    text-lign:left;
    background: #fafafa;
    //h2 {
    //    font-size: 50px;
    //    margin-top: 0;
    //}

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .members {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 150px;
        text-align: left;
    }

    .members-contents{
        margin-top: 0;
        margin-bottom: 100px;
        text-align: left;
    }

    .profile-container {
        width: 50%;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
    }

    @media(max-width: 992px){
        .profile-container {
            width: 100%;
            padding-left: 100px;
            display: flex;
            flex-direction: column;
        }
    }

    .profile-container img {
        width: 150px;
        height: 150px;
    }

    .profile-container span {
        text-align: left;
    }

    .text-name {
        font-size: 20px;
        padding-top: 20px;
    }

    .text-position {
        font-size: 14px;
    }

    .text-contents {
        padding-top: 20px;
        padding-bottom: 60px;
        font-size: 16px;
        width: 65%;
    }


    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
